<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Systems Cafe</title>
    </head>
    <body>
        {{> header}}
        <p>Systems Cafe gamifies mainline business applications to leverage the gaming 
            experience to enhance the user experience for otherwise mundane business tasks.
        </p>
    </body>
    {{> footer}}
</html>