<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Systems Cafe</title>
    </head>
    <body>
        {{> header}}
        <p>Systems Cafe designs and develops business applications using immersive game interfaces 
            that can be accessed via web browsers or desktop, mobile and virtual/augmented reality devices.
        </p>
    </body>
    {{> footer}}
</html>