<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{welcomeTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>
        <h2>testing github again</h2>
    </body>
    {{> footer}}
</html>